<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
    
      </div>
    </div>
  </div>
  
  <ng-template #doctorant let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new Publicaton</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <!-- <th scope="col">first name</th>
        <th scope="col">last name</th>
        <th scope="col">thesis title</th>
        <th scope="col">thesis director </th>
        <th scope="col">thesis director </th>
        <th scope="col">co-director</th>
        <th scope="col">joint supervision of the thesis</th>
        <th scope="col">CIN</th>
        <th scope="col">year of registration</th> -->
        <div class="form-group">
          <label for="" class="primary-font">first name</label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="first name" #docFirstName required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font">last name</label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="last name" #docLastName required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font">thesis title</label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="thesis title" #docThesisTitle required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font">thesis director </label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="thesis director " #docTesisDirector required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font">co-director </label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="co-director" #docCoDirector required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font">joint supervision of the thesis</label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="joint supervision of the thesis" #docSupervisor required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font"> CIN </label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="CIN" #docCin required>
        </div>
        <div class="form-group">
          <label for="" class="primary-font"> year of registration </label>
          <input type="text" class="form-control" name="publication-title" id="publication-title" aria-describedby="helpId"  placeholder="year of registration " #docYear required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <div class="container-fluid mt--7">
      
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Phd students List</h3>
          </div>
          <div class="col-4 text-right">
            <button (click)="open(doctorant)" class="btn btn-sm btn-primary">Add new PhD student</button>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col">
            <div class="card shadow bg-default shadow">
              <div class="card-header border-0 bg-default ">
                <h3 class="mb-0 text-white">phd students List</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">first name</th>
                      <th scope="col">last name</th>
                      <th scope="col">thesis title</th>
                      <th scope="col">thesis director </th>
                      <th scope="col">co-director</th>
                      <th scope="col">joint supervision of the thesis</th>
                      <th scope="col">CIN</th>
                      <th scope="col">year of registration</th>
                      <th scope="col">actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                            <td>Abdellatif</td>
                            <td>Ahammad</td>
                            <td>Cloverbase</td>
                            <td>prof Baddi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>MD*****</td>
                            <td>2021</td>
                            <td class="text-right">
                              <div ngbDropdown placement="bottom-right">
                                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                  <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer bg-default shadow py-4">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  